{% if promtail_clients is defined and
      promtail_clients | length > 0 %}
  {% set _data = promtail_clients %}

clients:
  {{ _data | to_nice_yaml(indent=2, sort_keys=False) | indent(2, False) }}
{% endif %}
