{% if promtail_scrape_configs is defined and
      promtail_scrape_configs | length > 0 %}
  {% set _data = promtail_scrape_configs %}

scrape_configs:
  {{ _data | to_nice_yaml(indent=2,sort_keys=False) | indent(2, first=False) }}
{% endif %}
